/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

/public_html/images/uploads
/public_html/uploads/images
/public_html/uploads
/public_html/min/
/public_html/sitemap.xml
/public_html/sitemaps
/public_html/packages/sleepingowl

/public/images/uploads
/public/uploads/images
/public/uploads
/public/min
/public/sitemap.xml
/public/sitemaps
/public/packages/sleepingowl
/public/css
/public/js
/public/img
/public/fonts
/public/mix-manifest.json

/nbproject

.env.local
.env.test
.env.staging
.env.production

composer.phar

_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.DS_Store

