$fa-font-path: '../fonts';
$font-family-SFUIDisplay: 'SF UI Display';

$primary:      #eacd7a;
$primary-dark: #55391d;
$success:      #42b01c;
$danger:       #f33b54;
$info:         #737ed2;
$warning:      #ffcc00;
$dark:         #201407;

$border-radius: 0.31vw;

$navbar-bg: $dark;

$card-bg-start-color: #6a4919;
$card-bg-end-color:   #261a0a;
